<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
 	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
	<header>
		{% block encabezado %} {% endblock %}
	</header>
	<section>
	 	{% block contenido %}{% endblock %}
	</section>
	<footer>
		<p>Proyecto Scrum Web. Mejora el rendimiento en tus proyectos con la metodología Scrum </p>
	</footer>
</body>
</html>